.row{
    background: #c8afd3;
}

footer{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #5A3B7C;
}